<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-body">  
    <p class="text text-center fw-bold ">
      <span> <%= User.find(params[:id]).username %> </span>
    </p> 
    <div class="row">
      <div class="col-lg-4 profile-circle">
        <h2 class="fw-normal text-center"><%= @post.size %></h2>
        <p class="text-center">posts</p>
      </div> 
      <div class="col-lg-4 profile-circle">
        <h2 class="fw-normal text-center"><%= @post.size %></h2>
        <p class="text-center">posts</p>
      </div>
      <div class="col-lg-4 profile-circle">
        <h2 class="fw-normal text-center"><%= @post.size %></h2>
        <p class="text-center">posts</p>
      </div>
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @post.each do |post| %>
          <div class="col">
            <%= link_to post_path(post) do %>
                <%= image_tag post.picture.url(:large), class: 'content-img-profile img-show', alt: post.title if post.picture? %>
            <% end %>
          </div>
        <% end %>
      </div>
      <hr>
    
    </div>
  </div>
</div>