<!-- we need this kinda pattern because we have more than 1 similar forms -->
<div class="new-post">
<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"> <%= msg %> </div>
    <% end %>
  <% end %>  

  <p>
    Title: <br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>

  <p>
    Text: <br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
    
  <p>
    Image: 
    <div class="image-uploader"> 
      <%= f.file_field(:picture, { :class => 'form-control'}) %>
    </div>
  </p>

  <p>
    <%= f.submit({:class => 'btn btn-lg btn-outline-pink'}, {:id => 'new'}) %>
    <!-- <%= link_to 'Back', posts_path, :class => "btn btn-lg btn-outline-pink" %> -->
    <%= link_to "Back", :back, class: 'btn btn-lg btn-outline-pink'%>
  </p>
<% end %>
</div>