<div class="col-md-4 text-start mobile-button" style="margin-left:10px">
  <% like = current_user.likes.find_by(post: post) %>
  <% if like.nil? %>
    <%= form_with model: @like, url: likes_path, method: :create do |f| %>   
      <input type="hidden" name="like[post_id]" value="<%= post.id %>">
      <%= hidden_field :like, { :value => @like } %>
      <div class="row">
        <%= button_tag( :class => "btn btn-lg btn-outline-pink") do %>
          <i class="bi-heart" style="font-style: normal"> 
            <%= Like.where(post_id: post.id).count %> 
          </i>
        <% end %>
      </div>
    <% end %>
  <% else %>
    
   <!-- likes' deletion -->

    <div class="row">
      <%= link_to like_path(like), method: :delete, remote: true, class: "btn btn-lg btn-outline-pink" do %>
        <i class="bi-heart-fill" style="font-style: normal">
          <%= Like.where(post_id: post.id).count %>
        </i>  
      <% end %>   
    </div>
  <% end %>
</div>    