<% @post.each do |post| %>
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-body">
      <p class="fw-bold">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="#ee538d" class="bi bi-person-circle me-sm-1" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <%= link_to User.find(post.user_id).username, profile_path(User.find(post.user_id).id), class: "no-decoration" %>   
      </p>    
      <p><%= image_tag post.picture.url(:large), class: 'content-img img-show', alt: post.title if post.picture? %></p>
      <p> <%= post.body %> </p>
      
      <hr>
      <%= link_to "Show", post_path(post), :class => "btn btn-lg btn-outline-pink" %>
      <%= link_to "Edit", edit_post_path(post), :class => "btn btn-lg btn-outline-pink" %>
    </div>
  </div>
<% end %>