
<% if @posts.empty? %>
  <div class="card mb-4 rounded-3 shadow-sm" style="margin-top: 10%">
    <div class="card-body">
      <center class="profile-name"> 
        Welcome to 
        <img class="logo" src='https://github.com/sharedmean/ruby-course-project/blob/master/app/assets/images/logo.png?raw=true'> 
        </img>  
        !<br>
        <hr> 
        <span style="font-size:20px"> 
          You don't have your feed yet, but it's easy to fix! <br> 
            Click on Search icon above to see all 
            <img class="logo" src='https://github.com/sharedmean/ruby-course-project/blob/master/app/assets/images/logo.png?raw=true'> 
            </img>  
            users <br>
          or <br>
          Enter your friend's username in the text field above and then click Search icon 
          <hr>
        </span>
        Have fun in 
        <img class="logo" src='https://github.com/sharedmean/ruby-course-project/blob/master/app/assets/images/logo.png?raw=true'> 
        </img>  
        !<br>
      </center>
    </div>
  </div>
<% else %>
  <% @posts.each do |post| %>
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-body">

        <!-- link to post's author profile -->

        <p class="fw-bold">
          <%= render 'profile_link', user: post.user %> 
        </p>   
        
        <!-- post -->

        <p><%= image_tag post.picture.url(:large), class: 'content-img img-show', alt: post.title if post.picture? %></p>
        <b> <%= post.title %> </b> 
        <p> <%= post.body %> </p>
        <hr>
        <div class="row">

          <!-- comments button -->

          <div class="col-md-1 text-start">
            <%= link_to post_path(post), class: "btn btn-lg btn-outline-pink" do %>
              <i class="bi-chat" ></i>  
            <% end %>
          </div>

          <!-- likes button -->

          <%= render 'likes', post: post %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>