<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-body">

    <!-- link to post's author profile -->

    <p class="fw-bold">
      <%= render 'profile_link', user: @post.user %>
    </p>  

    <!-- post -->

    <p><%= image_tag @post.picture.url(:large), class: 'content-img img-show', alt: @post.title if @post.picture? %></p> 
    <b> <%= @post.title %> </b> 
    <p> <%= @post.body %> </p>
    <hr>
    <div class="row">

      <!-- likes button -->

      <%= render 'likes', post: @post %>

      <!-- edit and delete buttons -->

      <% if user_signed_in? %>
        <% if policy(@post).edit? %>
          <div class="col-md-1 text-start">    
            <%= link_to edit_post_path(@post), class: "btn btn-lg btn-outline-pink" do %>
              <i class="bi-pen" ></i>  
            <% end %>
          </div>
          <div class="col-md-1 text-start">
            <%= link_to post_path(@post), method: :delete, 
                data: {confirm: "Delete post?"}, class: "btn btn-lg btn-outline-pink" do %>
              <i class="bi-trash" ></i>  
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <hr>

    <!-- comments -->

    <div class="card-body">
      <% @post.comments.each do |comment| %>
        <div class="card mb-2 rounded-5 shadow-sm">
          <div style="padding:10px">
            <% user = User.find(comment.user_id) %>
            <p> 

            <!-- link to post's author profile -->

            <%= render 'profile_link', user: user %> 

            <!-- destroy comment button -->

            <% if policy(comment).destroy? %>
              <%= 
                link_to post_comment_path(@post, comment), method: :delete, 
                data: {confirm: "Delete comment?"}, class: "btn btn-sm btn-outline-pink no-margin" do %>
                  <i style="font-size:12px;text-align:right" class="bi-trash" ></i>  
              <% end %>
            <% end %>

            <!-- comment -->

            <p> <%= comment.body %> </p>
            </p>
          </div>
        </div>
      <% end %>
      
      <!-- new comment form -->

      <%= form_with model: @post.comments.build, url: [@post, @post.comments.build] do |f| %>   
        <p>
            Comment <br>
            <%= f.text_area(:body, {:class => 'form-control'}) %>
        </p>  
        <p>
            <%= f.submit("Send", {:class => 'btn btn-lg btn-outline-pink'}) %> <!-- submit calls create method -->
            <%= link_to "Back", :back, class: 'btn btn-lg btn-outline-pink'%>
        </p>
      <% end %>
    </div>
  </div>
</div>